@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   background-color: hsl(103deg 86% 72% / 71%);
    font-family:Maven Pro, sans-serif;
}


.text-header {
   margin: auto;
    text-align: center;
    font-size: 3.5rem;
    font-family: Indie Flower, san-serif;
   padding-top: 1%;
   color: #47525c;
    font-weight: bold;
    letter-spacing: 5px;
}

.img-background {
    background-image: url(../images/newphoto2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

/*----------------Header, play & contact button - wraper to push a little down from the top---*/

.wraper {
    padding: 11px;
}

/*----------------Play & Contact Button---*/

#play-button {
    position: relative;
    background-color: #fee73bde;
    color: #ff4f98;
    border-radius: 10px;
    padding: 5px 10px;
   
}


.text-style {
    font-size: 1.2rem;
    font-family: Indie Flower, san-serif;
    margin:1%;
}

#btnOne{
    position: relative;
    background-color: #fee73bde;
    color: #2daaf3;
    border-radius: 10px;
    padding: 5px 20px;
}


#newpost {
    display: none;
  }
  
  #newpost.visible {
    display: block;
  }

  .newpost-text {
    width: 50%;
    display: inline-block;
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
    background-color: rgba(215 244 238 / 90%);
    border-radius: 10px;
    border-radius: 10;
    padding: 20;

  }





#did-you-know{
    width: 100%;
    text-align: center;
    margin-top: 20px;
   
}

#did-you-know div{
 width: 50%;
 display: inline-block;
 text-align: left;
 background-color: rgba(215 244 238 / 90%);
 border-radius: 10px;
 padding: 20px;
}

#did-you-know ul{
    list-style-type: none;

}
 #did-you-know li{
     padding: 20px;
     font-size: 1.2rem;
 }

/* Game board styles */
.row{
    text-align: center;
}

.card{
    display: inline-block;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border: 1px solid blue;
    margin: 5px;
    transform: scale(1);
}


.card:hover{
box-shadow: inset 0px 0px 2px blue;
box-sizing: border-box;
}
.card:active{
    transform: scale(.97);
    transition: transform .2s;
}




.snail {
    background-image: url(../images/snail.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.fox {
    background-image: url(../images/fox.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lionnew {
    background-image: url(../images/lionnew.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bee {
    background-image: url(../images/bee.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bird {
    background-image: url(../images/bird.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.dinosaur{
    background-image: url(../images/dinosaur.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dog{
    background-image: url(../images/dog.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.sheep {
    background-image: url(../images/sheep.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.color-hidden{
    background-image: url(../images/bear.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* Reset button and number of moves*/


 p {
    text-align: right;
    font-size: 1.3rem;
    
    
}

#moves-section {
    float: left;
    width: 50%;
    padding-right: 20px;
    margin-top: 25px;
}
.timer {
    float:left;
    width: 50%;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 25px;
    margin-top: 25px;
}

#reset-container{
    width: 100%;
    text-align: center;
    float: left;

}


.reset {
    margin-bottom: 10%;
    font-size: 1.5rem;
}



.test-memory {
    float: left;
    width: 100%;
    margin-bottom: 5%;
}

/* Congradulation */

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
  
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Gloria Hallelujah', cursive;
}
  
.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}


#play-again {
	background-color: #141214;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Gloria Hallelujah', cursive;
	color: #ffffff;
	border-radius: 5px;
}
