@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   
    font-family:Maven Pro, sans-serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: Indie Flower, san-serif;
    margin-top: 1%;
}



h3, h2{
    font-size: 1.5rem;
    font-family: Indie Flower, san-serif;
}


#img-background {
    background: url(../images/bee.png);
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
  
}



button {
    width: 250px;
    padding: 5px;
    border: 2px solid #3a3a3a;
    margin-top: 5%;
}

.button-section {
    text-align: center;
}

.padding-button{
    padding-bottom: 5%;

}

#did-you-know{
    width: 100%;
    text-align: center;
    margin-top: 10%;
   
}

#did-you-know div{
 width: 50%;
 display: inline-block;
 text-align: left;
 background-color: rgba(215 244 238 / 90%);
 border-radius: 10px;
 padding: 20px;
}

#did-you-know ul{
    list-style-type: none;

}
 #did-you-know li{
     padding: 20px;
     font-size: 1.2rem;
 }

/* Game board styles */
.row{
    text-align: center;
}

.cards{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url(../images/elephant.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border: 1px solid blue;
    margin: 5px;
    transform: scale(1);
}

.cards:hover{
box-shadow: inset 0px 0px 2px blue;
box-sizing: border-box;
}
.cards:active{
    transform: scale(.97);
    transition: transform .2s;
}





.duck {
    background-image: url(../images/duck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elephant {
    background-image: url(../images/elephant.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hippo {
    background-image: url(../images/hippo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.owl {
    background-image: url(../images/owl.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.seal {
    background-image: url(../images/seal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.turtle {
    background-image: url(../images/turtle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frog {
    background-image: url(../images/frog.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.dolphin {
    background-image: url(../images/dolphin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-hidden{
    background-image: url(../images/elephant.png);
}




/* Reset button and number of moves*/

 p {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2%;
    
}


.reset {
    margin-bottom: 10%;
    font-size: 1.5rem;
}



.test-memory {
    float: left;
    width: 100%;
    margin-bottom: 5%;
}

